:root {
  --accent-color: #d41443;
  --main-bckgr-color: #fff5f6;
  --hero-bckgr-color: #ffb8ca;
  --ellipse-bckgr-color: #ffa5ba;
  --reviews-bckgr-color: #fafafa;
  --main-title-color: #d41443;
  --second-title-color: #ffffff;
  --third-title-color: #ffa5ba;
  --main-text-color: #ffffff;
  --second-text-color: #d41443;
  --third-text-color: #000000;
  --fourth-text-color: #907e82;
  --fifth-text-color: #ffa5ba;
  --main-btn-color: #d41443;
  --second-btn-color: #ffffff;
  --hover-main-btn-color: #c7133e;
  --hover-second-btn-color: #ecebeb;
  --social-icon-color: #fea5bb;
  --hover-social-icon-color: #d41443;
  --mobile-menu-color: #e17992;
  --border-color: #e1e1e1;
}
