<section class="section">
    <div class="container">
        <h2 class=".hide-title">Contacts</h2>
        <div class="contacts-wrap">
            <ul class="text">
                <li class="text__item">
                    <div class="text__title-one">
                        <p class="text-heading">CAFE</p>
                    </div>
                </li>
                <li class="text__item">
                    <p class="text-subtitle">Chicago</p>
                </li>
                <li class="text__item">
                    <p class="text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </li>
                <span class="line__span"></span>
            </ul>
            <ul class="timetable">
                <li class="timetable__item">
                    <p class="timetable-day">Monday - Friday</p>
                </li>
                <li class="timetable__item">
                    <p class="timetable-timе">06:00 AM - 10:00 PM</p>
                </li>
                <li class="timetable__item">
                    <p class="timetable-day">Saturday - Sunday</p>
                </li>
                <li class="timetable__item">
                    <p class="timetable-timе">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <span class="line__span"></span>
            <ul class="contacts">
                <li class="contacts__item">
                    <a class="contacts__tel" href="+61(0)383766284">+61(0) 383 766 284</a>
                </li>
                <li class="contacts__item">
                    <a class="contacts__mail" href="noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>