<section class="section section-contacts" id="contacts">
    <div class="container">
        <h2 class="hide-title">Contacts</h2>
        <ul class="content">
            <li class="content__item">
                <div class="content-wrap">
                    <ul class="text">
                        <li class="text__item text__item-heading">
                            <div class="text__box-one">
                                <p class="text-heading">CAFE</p>
                            </div>
                        </li>
                        <li class="text__item text__item-subtitle">
                            <p class="text-subtitle">Chicago</p>
                        </li>
                        <li class="text__item text__item-desc">
                            <p class="text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="timetable">
                        <li class="timetable__item timetable-day__one">
                            <p class="timetable-day">Monday - Friday</p>
                        </li>
                        <li class="timetable__item timetable-time__one">
                            <p class="timetable-timе">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="timetable__item timetable-day__two">
                            <p class="timetable-day">Saturday - Sunday</p>
                        </li>
                        <li class="timetable__item timetable-time__two">
                            <p class="timetable-timе">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts">
                        <li class="contacts__item">
                            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__item">
                            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="content__item">
                <div class="content-wrap">
                    <ul class="text">
                        <li class="text__item text__item-heading">
                            <div class="text__box-two">
                                <p class="text-heading">FOODTRUCK</p>
                            </div>
                        </li>
                        <li class="text__item text__item-subtitle">
                            <p class="text-subtitle">Los Angeles</p>
                        </li>
                        <li class="text__item text__item-desc">
                            <p class="text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="timetable">
                        <li class="timetable__item timetable-day__one">
                            <p class="timetable-day">Monday - Friday</p>
                        </li>
                        <li class="timetable__item timetable-time__one">
                            <p class="timetable-timе">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="timetable__item timetable-day__two">
                            <p class="timetable-day">Saturday - Sunday</p>
                        </li>
                        <li class="timetable__item timetable-time__two">
                            <p class="timetable-timе">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts">
                        <li class="contacts__item">
                            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__item">
                            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="content__item">
                <div class="content-wrap">
                    <ul class="text">
                        <li class="text__item text__item-heading">
                            <div class="text__box-one">
                                <p class="text-heading">CAFE</p>
                            </div>
                        </li>
                        <li class="text__item text__item-subtitle">
                            <p class="text-subtitle">New York</p>
                        </li>
                        <li class="text__item text__item-desc">
                            <p class="text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="timetable">
                        <li class="timetable__item timetable-day__one">
                            <p class="timetable-day">Monday - Friday</p>
                        </li>
                        <li class="timetable__item timetable-time__one">
                            <p class="timetable-timе">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="timetable__item timetable-day__two">
                            <p class="timetable-day">Saturday - Sunday</p>
                        </li>
                        <li class="timetable__item timetable-time__two">
                            <p class="timetable-timе">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts">
                        <li class="contacts__item">
                            <a class="contacts__tel" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contacts__item">
                            <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="btn-bottom">
            <li class="btn-bottom__one">
                <button type="button" class="btn-cont btn-cont__one-open" data-read-open>Our Locations
                    <svg class="icon-arrow" width="20" height="10">
                        <use href="images/svg/icon.svg/#btn-arrow-1"></use>
                    </svg>
                </button>
            </li>
            <li class="btn-bottom__two">
                <button type="button" class="btn-cont btn-cont__two-open" data-price-open>Franchise
                    <svg class="icon-arrow" width="20" height="10">
                        <use href="images/svg/icon.svg/#btn-arrow-2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>

                    <!-- Our Locations Modal -->
<div class="backdrop is-hidden" data-read>
    <div class="content-menu__modal-box">
        <button type="button" class="content-menu__button-close" data-read-close>
            <svg class="content-menu__icon" width="14" height="14">
                <use href="./images/svg/icon.svg#menu-close"></use>
            </svg>
        </button>
        <p class="content-menu__title">Our cafés are located at the following addresse</p>
        <div class="content-menu">
            <ul class="content-menu__list">
                <li class="content-menu__item-city">
                    <div class="text__box-two">
                        <p class="content-menu__text-city">Chicago</p>
                    </div>
                </li>
                <li class="content-menu__item-addresse">
                    <p class="content-menu__text-addresse">Longfellow Center & Park</p>
                </li>
                <li class="content-menu__item-location">
                    <p class="content-menu__text">610 S Ridgeland Ave, Oak Park, IL 60304</p>
                </li>
                <li class="content-menu__item-city">
                    <div class="text__box-two">
                        <p class="content-menu__text-city">Los Angeles</p>
                    </div>
                </li>
                <li class="content-menu__item-addresse">
                    <p class="content-menu__text-addresse">Wilshire Country Club</p>
                </li>
                <li class="content-menu__item-location">
                    <p class="content-menu__text">301 N Rossmore Ave, Los Angeles, CA 90004</p>
                </li>
                <li class="content-menu__item-city">
                    <div class="text__box-two">
                        <p class="content-menu__text-city">New York</p>
                    </div>
                </li>
                <li class="content-menu__item-addresse">
                    <p class="content-menu__text-addresse">Bronx Zoo</p>
                </li>
                <li class="content-menu__item">
                    <p class="content-menu__text">2300 Southern Blvd, Bronx, NY 10460</p>
                </li>
            </ul>
        </div>
    </div>
</div>

                    <!-- Franchise Modal -->
<div class="backdrop is-hidden" data-price>
    <div class="content-menu__modal-box">
        <button type="button" class="content-menu__button-close" data-price-close>
            <svg class="content-menu__icon" width="14" height="14">
                <use href="./images/svg/icon.svg#menu-close"></use>
            </svg>
        </button>
            <p class="content-menu__title-price">Ice Cream Price</p>
        <div class="content-menu">
            <ul class="content-menu__list">
                <li class="content-menu__item-price">
                    <p class="content-menu__text-price">Ice Cream "Пломбир"</p>
                        <span class="content-menu__text-price content__item-count">2$</span>
                </li>
                <li class="content-menu__item-price">
                    <p class="content-menu__text-price">Ice Cream "Каштан"</p>
                        <span class="content-menu__text-price content__item-count">4$</span>
                </li class="content-menu__item">
                <li class="content-menu__item-price">
                    <p class="content-menu__text-price">Ice Cream "Чебурашка"</p>
                        <span class="content-menu__text-price content__item-count">5$</span>
                </li>
                <li class="content-menu__item-price">
                    <p class="content-menu__text-price">Ice Cream "Эйфория"</p>
                        <span class="content-menu__text-price content__item-count">7$</span>
                </li>
                <li class="content-menu__item-price">
                    <p class="content-menu__text-price">Ice Cream "Тортуфо"</p>
                        <span class="content-menu__text-price content__item-count">3$</span>
                </li>
            </ul>
        </div>
    </div>
</div>