<footer class="footer" id="about">

    <div class="container footer__container">

        <div class="footer__title" >
            <p class="footer__title-one">homemade ice cream made</p>
            <p class="footer__title-two">with passion</p>
        </div>

        <div class="social__thumb">
            <ul class="social__list">
                <li class="social__item">
                    <a href="https://github.com/asst199162/project2022-icecream" target="_blank" class="social__link">
                        <svg class="social__icon" width="19" height="19">
                            <use href="./images/svg/icon.svg#github"></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a href="https://web.tlgrm.app/#/login" target="_blank" class="social__link">
                        <svg class="social__icon" width="19" height="19">
                            <use href="./images/svg/icon.svg#telegram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social__item">
                    <a href="https://uk-ua.facebook.com/" target="_blank" class="social__link">
                        <svg class="social__icon" width="19" height="19">
                            <use href="./images/svg/icon.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a href="tel:+61(0)383766284" class="footer-tel__link"><span class="footer-tel__span">Feel free to contact</span> +61 (0) 383 766
                284</a>
        </div>
        
    </div>
        <p class="copyright__text">&copy; 2022 - IceCream. All Rights Reserved.  </p>
        
</footer>