
<header class="one">
    <p>header</p>
    <div class="flex">
    <img src="images/header/header.jpg" alt="">
    <svg class="svg" width="100" height="100">
        <use href="images/svg/icon.svg#icon-wink"></use>
    </svg>
    <button class="btn">
        Products
        <span class="first button-span"></span>
        <span class="second button-span"></span>
        <span class="third button-span"></span>
        <span class="fourth button-span"></span>
    </button>    
    </div>

</header>
