
<header class="header">
    <div class="container"></div>
        <hero class="hero">
            <img class="hero__img" src="" alt="logo">
            <ul class="hero__list">
                <li>
                    <a href="/" class="hero__item" >Home</a>
                </li>
                <li>
                    <a href="/" class="hero__item">About us</a>
                </li>
                <li>
                    <a href="/" class="hero__item">How it’s made?</a>
                </li>
                <li>
                    <a href="/" class="hero__item">Our products</a>
                </li>
                <li>
                    <a href="/" class="hero__item">Contact</a>
                </li>
            </ul>
            <button type="hero__button" class="">Buy now</button>
        </hero>
    

    </div>
</header>
