<section class="reviews">
  <div class="container">
    <picture>
      <source
        srcset="images/reviews/customer-1.png 1x, images/reviews/customer-1-2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="images\reviews\customer-1-tablet.png 1x, images/reviews/customer-1-tablet-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="images/reviews/customer-1-mobile.png 1x, images/reviews/customer-1-mobile-2x.png 2x"
        media="(max-width: 768px)"
      />
      <img src="images/reviews/customer-1-mobile.png" alt="женщина" class="reviews__picture" />
    </picture>
    <div class="reviews__title-tumb">
      <p class="reviews__title">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <p class="reviews__name">Emily, Los Angeles</p>
    <div class="reviews__slider">
      <svg width="12" height="12" class="reviews__icon">
        <use href="\images\svg\icon.svg#slider-home"></use>
      </svg>
      <svg width="12" height="12" class="reviews__icon">
        <use href="\images\svg\icon.svg#slider-point"></use>
      </svg>
      <svg width="12" height="12" class="reviews__icon">
        <use href="\images\svg\icon.svg#slider-point"></use>
      </svg>
    </div>
  </div>
</section>
