.about__container {
  background-color: var(--main-bckgr-color);
  margin: 0 auto;

  @media screen and(min-width: 320px) {
    width: 100%;
  }

  @media screen and(min-width: 768px) {
    width: 772px;
  }

  @media screen and (min-width: 1200px) {
    width: 1280px;
  }
}

.about__section {
  @media screen and(min-width: 320px) {
    padding: 125px 20px 39px 20px;
  }

  @media screen and(min-width: 768px) {
    padding: 130px 36px 66px 39px;
  }

  @media screen and (min-width: 1200px) {
    padding: 125px 117px 39px 112px;
  }
}

.about__presentation {
  background-color: var(--main-bckgr-color);
  display: block;
  margin: 0 auto;

  @media screen and(min-width: 320px) {  
    padding-right: 61px;
    padding-left: 59px;
    margin-bottom: 26px;
  }

  @media screen and(min-width: 768px) {
    text-align: center;
    padding-right: 135px;
    padding-left: 133px;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1200px) {
    text-align: center;
    padding-right: 257px;
    padding-left: 260px;
    margin-bottom: 34px;
  }
}

.about__inscription {
  font-family: Titan One;
  font-style: normal;
  @include font($fs: 18px, $fw: 400, $lh: 1.17, $ls: 0.04em);
  // no letter spacing? why?
  text-align: center;
  text-transform: uppercase;
  color: var(--ellipse-bckgr-color);
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  @include font($fs: 34px, $fw: 400, $lh: 1.15, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.about__article {
  background-color: var(--main-bckgr-color);

  @media screen and (min-width: 768px) {
    @include flex ($df:flex, $jcc:center, $aic:center);
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1200px) {
    background-image: 
    // linear-gradient(
    //     rgba(47, 48, 58, 0.4), 
    //     rgba(47, 48, 58, 0.4)
    //     ), 
        url(./../images/about/about-bg.png);
    background-repeat: no-repeat;
    background-position: 0 bottom -86px;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: 
    // linear-gradient(
    //     rgba(47, 48, 58, 0.4), 
    //     rgba(47, 48, 58, 0.4)
    //     ), 
        url(./../images/about/about-bg-2x.png);
    }
  }
}

.about__img {
  // width: 280px;
  @media screen and (min-width: 320px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    // width: 340px;
    margin-bottom: 0;
  }

  // @media screen and (min-width: 1200px) {
  //   width: 516px;
  // }
}

.about__image {
  display: block;
  margin: auto;
  // width: 280px;

  @media screen and (min-width: 768px) {
    // width: 340px;
    margin-bottom: 0;
  }

  // @media screen and (min-width: 1200px) {
  //   width: 516px;
  // }
}

.about__paragraph {
  padding: 0 30px;
  margin-bottom: 23px;
  width: 220px;

  @media screen and (min-width: 768px) {
    padding: 50px 0 0 0;
    margin-left: 17px;
    width: 340px;
  }

  @media screen and (min-width: 1200px) {
    padding: 72px 0 0 0;
    margin-left: 74px;
    width: 463px;
  }
}

.about__background {
  @media screen and(min-width: 320px) and (max-width: 767px) {
    background-image: 
    // linear-gradient(
    //     rgba(47, 48, 58, 0.4), 
    //     rgba(47, 48, 58, 0.4)
    //     ), 
        url(./../images/about/about-bg-mobile.png);
    background-repeat: no-repeat;
    background-position: 0 bottom -6px;
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: 
    // linear-gradient(
    //     rgba(47, 48, 58, 0.4), 
    //     rgba(47, 48, 58, 0.4)
    //     ), 
        url(./../images/about/about-bg-mobile-2x.png);
    }
  }
}

.about__text {
  font-family: DM Sans;
  font-style: normal;
  @include font($fs: 12px, $fw: 500, $lh: 1.62, $ls: 0.04em);
  // no letter spacing? why? 
  color: var(--third-text-color);
  margin-bottom: 34px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 35px;
  }
}

.about__description {
  font-family: DM Sans;
  font-style: normal;
  @include font($fs: 12px, $fw: 500, $lh: 1.62, $ls: 0.04em);
  // no letter spacing? why? 
  color: var(--fourth-text-color);
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 45px;
  }
}

.about__button-open {
  width: 176px;
  height: 44px;
  border: none;
  background: var(--second-btn-color);
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  @include font($fs: 14px, $fw: 700, $lh: 1.29, $ls: 0.04em);
  // no letter spacing? why? 
  @include flex ($df:flex, $jcc:center, $aic:center);
  color: var(--main-btn-color);
}

.about__button-text {
  margin-right: 13.62px;
}