.advantages {
  padding-bottom: 97px;
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
  // @media screen and (min-width: 1200px) {
  //   padding-left: 115px;
  //   padding-right: 115px;
  // }
}
.advantages__list {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}
.advantages__item {
  @media screen and (max-width: 479px) {
    &:not(:first-child) {
      margin-top: 38px;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-basis: calc((100% - 10px) / 2);
    &:not(:first-child) {
      margin-top: 0px;
    }
    margin-left: 10px;
    &:nth-child(-n + 2) {
      margin-top: 0px;
    }
    &:nth-child(2n + 1) {
      margin-left: 0px;
    }
    &:nth-child(n + 3) {
      margin-top: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 120px) / 3);
    .advantages__item + & {
      margin-left: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
    .advantages__item + & {
      margin-left: 30px;
    }
  }
}
// .advantages__img {
// }
.advantages__box--milk::before {
  content: '';
  background-repeat: no-repeat;
  display: block;
  width: 33px;
  height: 50px;
  background-image: url(./../images/advantages/milk-cow.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(./../images/advantages/milk-cow-2x.png);
    }
  }
}

.advantages__box--apple::before {
  content: '';
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(./../images/advantages/apple.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(./../images/advantages/apple-2x.png);
    }
  }
}

.advantages__box--candy::before {
  content: '';
  background-repeat: no-repeat;
  display: block;
  width: 44px;
  height: 50px;
  background-image: url(./../images/advantages/candy.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: url(./../images/advantages/candy-2x.png);
    }
  }
}

.advantages__title {
  font-family: Titan One;
  @include font($fs: 36px, $fw: 400, $lh: 1.14, $ls: 0.04em);
  text-align: left;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    @include font($fs: 48px, $fw: 400, $lh: 1.14, $ls: 0.04em);
    margin-top: 36px;
  }
  @media screen and (min-width: 1200px) {
    @include font($fs: 58px, $fw: 400, $lh: 1.14, $ls: 0.04em);
    margin-top: 40px;
  }
}
.advantages__text {
  @include font($fs: 12px, $fw: 700, $lh: 1.14, $ls: 0.04em);
  margin-top: 13px;
  width: 230px;
  @media screen and (min-width: 480px) {
    width: 180px;
  }
  @media screen and (min-width: 768px) {
    @include font($fs: 14px, $fw: 700, $lh: 1.7, $ls: 0.04em);
    margin-top: 13px;
  }
  @media screen and (min-width: 1200px) {
    @include font($fs: 16px, $fw: 700, $lh: 1.7, $ls: 0.02em);
    margin-top: 15px;
    width: 100%;
  }
}
