.section-contacts {
  background: #fff5f6;
  background-image: url(../images/contacts/contact-bg.png);
}
.content {
  padding-top: 85px;
  display: block;
  align-items: center;
  // flex-wrap: wrap;
  justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
  @media screen and (min-width: 768px) {
    // display: flex;
    justify-content: space-evenly;
  }
}
.content-wrap {
  width: 220px;
  background: var(--main-text-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 40px 20px;
  @media screen and (min-width: 768px) {
    width: 220px;
    adding: 50px 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 330px;
    adding: 50px 40px 60px;
  }
}
.text__box-one {
  width: 80px;
  height: 20px;
  background: #f0d1a5;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 75px;
    height: 30px;
  }
}
.text__box-two {
  width: 130px;
  height: 20px;
  background: #c2e297;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 140px;
    height: 30px;
  }
}
.text-heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.text-subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.text-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--fourth-text-color);
  padding-top: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.text-desc::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
}
.timetable-day {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: var(--third-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.timetable-timе {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: var(--fifth-text-color);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.timetable-time__one {
  margin-bottom: 10px;
}
.timetable-time__two::after {
  content: '';
  display: block;
  width: 179px;
  height: 1px;
  border: 1px solid #e1e1e1;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contacts__tel,
.contacts__mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .content__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.btn-cont {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  width: 160px;
  height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  border: transparent;
  border-radius: 22px;
  margin: auto;
  @media screen and (min-width: 768px) {
    width: 190px;
  }
  @media screen and (min-width: 1200px) {
    width: 198px;
  }
}
.btn-cont__one {
  color: var(--second-btn-color);
  background: #d41342;
  padding-left: 17px;
  &:hover,
  &:focus {
    background: var(--hover-main-btn-color);
  }
  @media screen and (min-width: 768px) {
    padding-left: 32px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 35px;
  }
}
.btn-cont__two {
  color: var(--main-btn-color);
  background: var(--second-btn-color);
  padding-left: 32px;
  &:hover,
  &:focus {
    background: var(--hover-second-btn-color);
  }
  @media screen and (min-width: 768px) {
    padding-left: 38px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 39px;
  }
}
@media screen and (max-width: 767px) {
  .btn-bottom__one {
    margin-top: 55px;
    margin-right: 15px;
  }
  .btn-bottom__two {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .btn-bottom__one {
    margin-right: 15px;
  }
}
.btn-bottom {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 85px;
  }
}
