<<<<<<< Updated upstream
.gallery {
  background-image: linear-gradient(to bottom, var(--main-bckgr-color) 40%, #ffffff 15%,)
=======
.background {
  background-image: linear-gradient(to bottom, var(--main-bckgr-color) 40%, #ffffff 15%);
}
.gallery__img {
  margin: auto
>>>>>>> Stashed changes
}
.gallery__img {
  margin: auto;
}