.products__section {
  padding-top: 120px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    padding-bottom: 110px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.section__title--products {
  margin-bottom: 145px;
  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 260px;
  }
}

.products {
  @media screen and (max-width: 767px) {
    margin-bottom: -130px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: -20px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: -23px;
  }
}

.products__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 130px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 20px);
    margin-right: 20px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 23px);
    margin-right: 23px;
  }
}

.products__box {
  min-height: 485px;
  width: 100%;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 220px;
  }
  @media screen and (min-width: 1200px) {
    width: 335px;
    padding-bottom: 50px;
  }

  border-radius: 24px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 252px;
    @media screen and (min-width: 768px) {
      height: 226px;
    }
    @media screen and (min-width: 1200px) {
      height: 335px;
    }

    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: -23%;
    z-index: 1;
    @media screen and (min-width: 1200px) {
      top: -40%;
    }
  }
}

.products__box--icecream {
  background-color: var(--hero-bckgr-color);
  &::before {
    content: '';
    background-image: url(./../images/products/icecream-1-mobile.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(./../images/products/icecream-1-mobile-2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(./../images/products/icecream-1-tablet.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-1-tablet-2x.png);
        }
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(./../images/products/icecream-1.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-1-2x.png);
        }
      }
    }
  }
}

.products__box--icecoffee {
  background-color: #f0d1a5;
  &::before {
    content: '';
    background-image: url(./../images/products/icecream-2-mobile.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(./../images/products/icecream-2-mobile-2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(./../images/products/icecream-2-tablet.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-2-tablet-2x.png);
        }
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(./../images/products/icecream-2.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-2-2x.png);
        }
      }
    }
  }
}

.products__box--milkshakes {
  background-color: #c2e297;
  &::before {
    content: '';
    background-image: url(./../images/products/icecream-3-mobile.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(./../images/products/icecream-3-mobile-2x.png);
      }
    }
    @media screen and (min-width: 768px) {
      background-image: url(./../images/products/icecream-3-tablet.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-3-tablet-2x.png);
        }
      }
    }
    @media screen and (min-width: 1200px) {
      background-image: url(./../images/products/icecream-3.png);
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        & {
          background-image: url(./../images/products/icecream-3-2x.png);
        }
      }
    }
  }
}

.products__title {
  padding-top: 160px;

  font-family: Titan One;
  @include font($fs: 20px, $fw: 400, $lh: 1.15, $ls: 0.04em);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-text-color);
  @media screen and (min-width: 760px) {
    @include font($fs: 20px, $fw: 400, $lh: 1.15, $ls: 0.04em);
  }
  @media screen and (min-width: 1200px) {
    @include font($fs: 36px, $fw: 400, $lh: 1.13, $ls: 0.04em);
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;

    margin-top: 30px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;

    background-image: url(./../images/products/more-point.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: url(./../images/products/more-point-2x.png);
      }
    }
  }
}

.products__text {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  width: 100%;

  font-family: DM Sans;
  @include font($fs: 14px, $fw: 700, $lh: 1.52, $ls: 0.04em);
  text-align: center;
  color: var(--main-text-color);

  @media screen and (min-width: 760px) {
    padding-left: 11px;
    padding-right: 11px;
    margin-bottom: 40px;

    @include font($fs: 14px, $fw: 700, $lh: 1.76, $ls: 0.04em);
  }
  @media screen and (min-width: 1200px) {
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 60px;
    @include font($fs: 16px, $fw: 700, $lh: 1.76, $ls: 0.04em);
  }
}

.products__text--more {
  padding-top: 70%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  @include font($fs: 12px, $fw: 700, $lh: 1.52, $ls: 0.04em);

  @media screen and (min-width: 1200px) {
    padding-top: 50%;
    @include font($fs: 14px, $fw: 700, $lh: 1.76, $ls: 0.04em);
  }
}

.more__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-btn-color);
  color: var(--main-btn-color);
  transition-property: color, background-color;
  @extend %animation-style;

  &:hover,
  &:focus {
    background-color: var(--main-btn-color);
    color: var(--second-btn-color);
  }
}

.btn__icon {
  fill: currentColor;
}

.menu-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--second-btn-color);
  color: var(--main-btn-color);
  transition-property: color, background-color;
  @extend %animation-style;
}

.menu-btn__icon {
  fill: currentColor;
}

.products__wrap {
  position: relative;
  overflow: hidden;
}
.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 40px;
  border-radius: 24px;

  transform: translateY(110%);
  @extend %animation-style;
  .text-container {
    height: 100%;
    display: flex;
  }
}

.text-container--icecream {
  background-color: var(--hero-bckgr-color);
}
.text-container--icecoffee {
  background-color: #f0d1a5;
}
.text-container--milkshakes {
  background-color: #c2e297;
}

.menu-btn__icon--close {
  display: none;
}
.menu-btn.is-open {
  .menu-btn__icon--open {
    display: none;
  }
  .menu-btn__icon--close {
    display: block;
  }
}
.menu-container.is-open {
  transform: translateY(0);
  @extend %animation-style;
  height: 100%;
}
