.reviews {
  margin-top: 80px;
}
.reviews__picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.reviews__title-tumb {
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: var(--reviews-bckgr-color);
}
.reviews__title {
  // max-height: 308px;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  @include font($fs: 12px, $fw: 500, $lh: 2.58);
  text-align: center;
  color: var(--third-text-color);
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 30px,
    var(--border-color) 30px,
    var(--border-color) 31px
  );
}
